* {
    background-color: #d1ccc4;
}

body {
    width: 50%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 2.5%;
}

.logo {
    width: 100px;
    height: 100px;
}

.github_logo {
    cursor: pointer;
    width: 100px;
    height: 100px;
}

section {
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    padding: 12px 0px;
}

.container {
    width: 90%;
}

.input {
    width: 100%;
    margin-top: 20px;
}

.input label {
    font-size: 2em;
    width: 100%;
}

.link_box {
    width: 100%;
}

.input input {
    width: 75%;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 10px #c2a97d;
    margin: 20px 0px;
    padding: 20px;
}

.input button {
    width: 15%;
}