<!DOCTYPE html>
<html lang="en">

<!--! Dark mode and light mode !-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Copyright Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header>
        <img class="logo" src="/static/img/vod channel.jpg" alt="logo">
        <a href="https://github.com/clavesi/ytplaylist-music-copyright/tree/development">
            <img class="github_logo" src="/static/img/github-logo.png" alt="github logo">
        </a>
    </header>

    <hr>

    <section>
        <div class="container">
            <form action="">
                <div class="input">
                    <label for"link">Paste link below</label>
                    <div class="link_box">
                        <input type="text" name="link" id="link" placeholder="youtube.com/playlist?list=" required>
                        <button type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <hr>
</body>

</html>